<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Dinner at Vicki's</title>
 
 
    <link href="../static/bootstrap.min.css" rel="stylesheet">
 
    <link href="../static/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Home</a>
                    </li>
                    <li role="presentation" class="active"><a href="#">Next Dinner</a>
                    </li>
                    <li role="presentation" ><a href="weAte">We Ate</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">vickichowder</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Next Dinner Served</h1>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Ingredients present in the next dinner...</h4>
                <p>Chicken liver, Pineapple, Celery</p>
                <p>Pork belly, Radish, Onion, Pear</p>
                <p>Greens, Sesame, Citrus</p>
                <p>Rice Cake, Milk, Cheese</p>
                <p>Salmon, Red pepper, Spinach</p>
            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; vickichowder 2015</p>
        </footer>
 
    </div>
</body>
 
</html>