<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Dinner at Vicki's</title>
 
 
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/ate.css" rel="stylesheet">

    <script src="../static/js/jquery-2.1.4.js"></script>
    <script src="../static/js/weAte.js"></script>

 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="comingUp">Next Dinner</a>
                    </li>
                    <li role="presentation" class="active"><a href="#">We Ate</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">vickichowder</h3>
        </div>
 
        <div class="jumbotron">
            <h1>And will donate</h1>
        </div>
        
        <div class="form-weate">
        <form class="form-weate">
            <input type="names" name="names" id="names" placeholder="names" class="form-control" required autofocus><br>
            <input type="amount" name="amount" id="amount" placeholder="amount" class="form-control" required autofocus><br>
        <button id="btnWeAte" class="btn btn-lg btn-success">Where will we donate to?</button>
        </form>
        </div>
        
        <br><br>

        <footer class="footer">
            <p>&copy; vickichowder 2015</p>
        </footer>
 
    </div>
</body>
 
</html>